{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <title>Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
    <div id="card-element">
        <!-- Elements will create input elements here -->
    </div>
    <!-- We'll put the error messages in this element -->
    <div id="card-errors" role="alert"></div>
    {{ form_row(form.bike) }}
        <button type="submit" id="start_ride_submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>

        var stripe = Stripe('pk_test_q8v7x6uaNmt8mRH4yG8bxVfs005I9JX2kE');
        var elements = stripe.elements();

        var style = {
            base: {
                color: "#32325d",
            }
        };

        var card = elements.create("card", { style: style });
        card.mount("#card-element");

        var buttonSave = document.getElementById('start_ride_submit');

        buttonSave.addEventListener('click', function(e) {
            e.preventDefault();
            stripe.confirmCardPayment("{{ intent.client_secret }}", {
                payment_method: {
                    card: card,
                    billing_details: {
                        name: 'Jenny Rosen'
                    }
                }
            }).then(function(result) {
                if (result.error) {
                    // Show error to your customer (e.g., insufficient funds)
                    console.log(result.error.message);
                } else {
                    // The payment has been captured !
                    if (result.paymentIntent.status === "requires_capture") {
                        document.getElementById("ride_paiementId").value = result.paymentIntent.id;
                        document.getElementById("{{ form.vars.id }}").submit();
                    }
                }
            });
        });
    </script>
{% endblock %}