{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <title>Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="StripeElements.css">
{% endblock %}

{% block title %}
    Souscrire un abonnement
{% endblock %}
{% block body %}

    {{ form_start(form, {'attr': {'id': form.vars.id}}) }}
    <div id="card-element" class="MyCardElement">
    </div>
    <div id="card-errors" role="alert"></div>
    {{ form_row(form.subscription) }}
    <button type="submit" id="userSubscription_submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        var stripe = Stripe('pk_test_q8v7x6uaNmt8mRH4yG8bxVfs005I9JX2kE');
        var elements = stripe.elements();

        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4',
                },
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a',
            },
        };

        var cardElement = elements.create('card', { style: style });
        cardElement.mount('#card-element');

        cardElement.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });


        var buttonSave = document.getElementById('userSubscription_submit');

        buttonSave.addEventListener('click', function(e) {
            // We don't want to let default form submission happen here,
            // which would refresh the page.
            event.preventDefault();

            stripe.createPaymentMethod({
                type: 'card',
                card: cardElement,
                billing_details: {
                    email: 'jenny.rosen@example.com',
                },
            }).then(stripePaymentMethodHandler);
        });

        function stripePaymentMethodHandler(result, email) {
            if (result.error) {
                // Show error in payment form
            } else {
                document.getElementById("user_subscription_paiementId").value = result.paymentMethod.id;
                document.getElementById("{{ form.vars.id }}").submit();
            }
        }




    </script>
{% endblock %}